<h1>Create a New Post</h1>

<form (ngSubmit)="onSubmit()" #createPost="ngForm">
  <div *ngIf="errorMessage" class="alert error">{{errorMessage}}</div>
  <div>
    <label for="postname">Postname</label>
    <input [(ngModel)]="post.postname" type="text" id="postname" [ngModelOptions]="{standalone: true}">
    <div class="error" *ngIf="errors.postname">{{errors.postname.message}}</div>
  </div>

  <div>
    <label for="email">Email</label>
    <input [(ngModel)]="post.email" type="text" id="email" [ngModelOptions]="{standalone: true}">
    <div class="error" *ngIf="errors.email">{{errors.email.message}}</div>
  </div>

  <div>
    <label for="first_name">First Name</label>
    <input [(ngModel)]="post.first_name" type="text" name="first_name" id="first_name" [ngModelOptions]="{standalone: true}">
    <div class="error" *ngIf="errors.first_name">{{errors.first_name.message}}</div>
  </div>

  <div>
    <label for="last_name">Last Name</label>
    <input [(ngModel)]="post.last_name" type="text" id="last_name" [ngModelOptions]="{standalone: true}">
    <div class="error" *ngIf="errors.last_name">{{errors.last_name.message}}</div>
  </div>
  <button type="submit">Submit</button>

</form>
